body{
  background: #ffffff !important;
}

.form-control {
  background: #C5E99B !important;
  border-color: #C5E99B !important;
}

.input-container{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 15px;
}

.multi-select{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;

}

select{
  background: #C5E99B !important;
  border-color: #C5E99B !important;
}

.col-lg-2-control-label {
  width: 50%;
}

.submit{
  padding-left:50px;
  padding-top:30px;
}
